body {
    margin: 0;
    padding: 0;
    background: #101010;
}

.container {
    width: 500px;
    height: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: rgb(1, 241, 209);
    overflow: hidden;
}

.wave {
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: -40%;
    left: 40%;
    margin-left: -500px;
    margin-top: -500px;
    border-radius: 35%;
    background: rgba(255, 255, 255, .8);
    animation: wave 15s infinite linear;
}

@keyframes wave {
    from { transform: rotate(0deg);}
    from { transform: rotate(360deg);}
}